.menu {
  position: fixed;
  list-style: none;
  width: 240px;
  /* top: 76px; */
  /* margin: 0; */
  /* padding: 20px; */
  box-sizing: border-box;
}
.title {
  padding: 15px;
  font-weight: 100;
}
.link {
  color: #555;
  text-decoration: none;
}
