.bg {
  display: flex;
  background-image: url("../asset/image/bg2.jpg");
  background-repeat: none;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.box {
  display: flex;
  width: 500px;
  height: 400px;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  opacity: 70%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}
.h1 {
  /* position: absolute; */
  font-size: 40px;
  color: blueviolet;
  margin: 0;
}
.hr {
  width: 20em;
  border-color: rgba(138, 43, 226, 0.3);
  /* margin-bottom: 20px; */
}
.p {
  font-size: 20px;
  margin: 5px 0 10px 0;
}
.linkto {
  display: flex;
  position: absolute;
  top: 320px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  background-color: #fff;
  /* opacity: 80%; */
  z-index: 1;
  /* border: solid 1px red; */
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.1),
    0 -1px 10px 2px rgba(0, 0, 0, 0.1);
}
.stamp {
  width: 90px;
  height: 90px;
  opacity: 0.5;
  margin-top: 10px;
  /* padding: 10px; */
}
.stamp > g > path {
  fill: rgb(255, 130, 130);
  filter: drop-shadow(0 0 12px rgb(255, 0, 0));
}
.stamp:hover {
  opacity: 1;
}
.stamp:hover > g > path {
  fill: red;
}
